body {
    margin: 0;
}

.pageHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    height: 5vh;
}

h2 {
    background-color: lightgreen;
    margin: 0;
    padding: 20px 0px;
    text-align: center;
}

.gameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 20%;
    min-height: 80vh;
}

.gameDiv {
    border: 5px solid lightgreen;
}

#computerChoice, #results {
    padding: 50px 0px;
    font-size: 20px;
    width: 100%;
    min-height: 30px;
    border: none;
    text-align: center;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
}

.buttons button {
    padding: 50px;
    font-size: 20px;
    width: 35%;
    min-height: 30px;
    border: none;
}

.rockStyle {
    background-color: gray;
}

.paperStyle {
    background-color: lightblue;
}

.scissorsStyle{
    background-color: coral;
}

.activeButton {
    background-color: green;
}

.won {
    background-color: green;
}

.draw {
    background-color: yellow;
}

.lose {
    background-color: red;
}


footer {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15vh;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}