.gameSection {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#results, #yourChoice, #computerChoice {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 120px;
    line-height: 30px;
}

.buttons {
    scale: 1;
    gap: 20px;
    display: flex;
}

.buttons button {
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    min-height: 30px;
}

.activeButton {
    background-color: orange;
}